@mixin absolute-center {
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 952px;
  height: 552px;
  @include absolute-center;
  display: flex;
  position: fixed;
  z-index: 1000;
  visibility: hidden;

  &_active {
    visibility: visible;

    & ~ .modal-bg {
      visibility: visible;
    }
  }

  &__scroll {
    height: 487px;
    overflow: hidden scroll;
    padding: 0 17px;
    margin-bottom: 25px;
  }

  &__close-btn {
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 0;
  }

  &__info {
    align-self: flex-end;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #fff;
    border-radius: 20px;
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;

    &_left {
      height: 500px;
      width: 500px;
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: auto;
      max-width: 351px;
      max-height: 362px;

      * {
        position: relative;
        color: black;
      }

      &-title {
        h4 {
          margin-top: 10px;
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
        }
      }

      &-content {
        width: 350px;
        //height: 102px;

        h5 {
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 110%;
          letter-spacing: 0.06em;
        }
      }

      .cv-list {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 170px;
          height: 102px;
          list-style: none;

          li::before {
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            content: "\2022";
            color: #F1CDB3;
          }
        }
      }
    }
  }


  &__bg {
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.55;
    width: 100vw;
    height: 150vh;
    background: rgba(41, 41, 41, 0.6);
  }
}